# .gitignore for backend and frontend

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*


# Build directories
dist/
build/
out/
coverage/

Backend/src/firebase-admin-sdk.json

# Environment variables
.env
.env.local
.env.*.local


# Temporary files
tmp/
temp/
*.tmp
*.temp